<% provide(:title, "Sign Up") %>
<div class="row justify-content-center">
  <div class="col-sm-12">
    <h3 class="text-center">Sign Up</h3>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-7 col-xl-6">
    <div class="card">
      <div class="card-body">
        <%= form_for @user, url: signup_path do |f|%>
          <div class="form-group">
            <%= f.label :name, class:"cols-sm-2 control-label" %>
            <%= f.text_field :name, class: "form-control", autofocus: true, required: true, autocomplete: :off, placeholder: "Name", maxlength: 30 %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class:"form-control", required:true, autocomplete:false, placeholder:"Enter your email id", maxlength:50 %>
          </div>

          <div class="form-group">
            <%= f.label :mobile_no %>
            <%= f.text_field :mobileno, class:"form-control", required:true, autocomplete:false, placeholder:"Enter your mobile number", maxlength:10 %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class:"form-control", required:true, autocomplete:false, placeholder:"Enter your password", maxlength:50 %>
          </div>

          <div class="form-group">
            <%= f.label :confirm_password %>
            <%= f.password_field :confirm_password, class:"form-control", required:true, autocomplete:false, placeholder:"Repeat your password", maxlength:50 %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign Up", class: "btn btn-primary btn-lg btn-block login-button", data: { disable_with: "Signing Up..." } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>